<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.gnostic.alfred-wunderlist-3</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>115778A4-64EA-430F-B6DA-E17814B5B6D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F197918-45E5-49C6-A552-150CA892DE2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1F197918-45E5-49C6-A552-150CA892DE2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74E303AC-05B8-4B29-8777-D496C5921A5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gnostic</string>
	<key>description</key>
	<string>A Wunderlist 3 API cloud-based alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wunderlist3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/python wl_actions.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F197918-45E5-49C6-A552-150CA892DE2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Wunderlist:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>74E303AC-05B8-4B29-8777-D496C5921A5B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading lists...</string>
				<key>script</key>
				<string>/usr/bin/python wl.py {query}</string>
				<key>subtext</key>
				<string>Wunderlist 3 commands</string>
				<key>title</key>
				<string>Wunderlist</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>115778A4-64EA-430F-B6DA-E17814B5B6D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>115778A4-64EA-430F-B6DA-E17814B5B6D1</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>1F197918-45E5-49C6-A552-150CA892DE2F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>74E303AC-05B8-4B29-8777-D496C5921A5B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
